.site-header {
  background-color: #007bff;
}

.site-header>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: white;
}

.site-header .logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.site-header .nav-links ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.site-header .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.site-header .nav-links a:hover {
  text-decoration: underline;
}
