/* src/pages/LoginPage.css */
.login-page {
    text-align: center;
    padding: 50px;
    background-color: silver;
    
    
  
  }
  
  h2 {
    margin-bottom: 10px;
    color: black;
    
    
    
  }
  
  .user-type-switch {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .user-type-switch button {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-type-switch button.active {
    background-color: #e63946;
    color: white;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
    margin: 0 auto;
    top: 50%;
  }
  
  .login-form input {
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login-btn {
    background-color: #2a9d8f;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 250px;
  }
  
  .login-btn:hover {
    background-color: #21867a;
  }
  