/* index.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #1d1d1d; /* Dark background like the one you seem to be using */
  color: #fff; /* Make text more visible */
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
/* src/index.css */
.container {
  padding: 20px;
}

.search-section {
  background-color: #1d3557;
    color: white;
    padding: 3rem 1.5rem;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(89, 154, 219);
}

.auth-buttons {
  margin-top: 20px;
}

.auth-buttons .login-btn, .auth-buttons .create-btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff5c5c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.auth-buttons .create-btn {
  background-color: #ff5c5c;
}

.featured-jobs,  .our-clients, .our-partners {
  padding: 40px 20px;
  text-align: center;
}

.featured-jobs .job-list {
  display: flex;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  
}

.featured-jobs .job-item {
  background-color: #2e4660;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  width: 100%;
  justify-content: space-between;
}
.mex {
  color: white;
}

.client-logos, .partner-logos {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.client-logos-img, .partner-logos img {
  width: 100px;
  height: auto;
  border-radius: 100%;
}

.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 100%;
}

.top-button {
  padding: 10px 20px;
  background-color: #ff5c5c;
  color: white;
  border: 3px white;
  border-radius: 5px;
  cursor: pointer;
}
.why-us {
  list-style: none;
  background-color: #2e4660;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-shadow: 5px 5px 3px rgb(80, 157, 225);
}
.why-u {
  list-style: none;
}
/* Ensure the HTML and body take up the full height of the screen */
html, body {
  height: 100%;
  margin: 0;
}

/* Use Flexbox to make the container stretch to the full height */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Flex-grow pushes the footer down when content is insufficient */
.content {
  flex-grow: 1;
}

/* Footer Styling */
footer {
  background-color: #2e4660;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 100%;
  bottom: 0;
}
.btx {
  background-color: white;
  color: #1d3557;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  
}

